<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="COMPUTER_VISION_SUBSCRIPTION_KEY" value="301693f2-2c0a-49a9-8e4d-bd6e6943aa11"/>
    <add key="COMPUTER_VISION_ENDPOINT" value="https://centralindia.api.cognitive.microsoft.com/"/>
    <add key="APP_ID" value="70f40da6-accc-42a8-8db5-43c95bd26165"/>
    <add key="TENANT_ID" value="6dd145c8-be07-4c8a-9f70-051f39142494"/>
    <add key="CLIENT_SECRET" value="k~TC2wn1dlgIPeV-x4_Z7q.211obw5~I~h"/>
  </appSettings>
</configuration>
